#highscore-time{ 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border-color: black;
    border-style: solid;
}

.hide {
    display: none;
}

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 5%;
}
#header-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:5%;
    padding: 2%;
    border-color: black;
    border-style: solid;
    
}